/* CSS for index.html */
body {
    margin: 0;
    padding: 0;
    position: relative;
}

/* Logo & Navbar Area */
#masthead {
    width: 100%;
    border-bottom: 2px solid pink;
    overflow: auto;
    margin-top: 10px;
    background-color: orange;
}

#header-container {
    width: 90%;
    clear: both;
    margin: 0 auto;
}

#flan-logo {
    float: left;
    background-color: blue;
    font-size: 50px;
    text-decoration: none;
}

nav {
    float: right;
    margin-right: 40px;
}

nav a {
    background-color: red;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}


/* CSS for Homepage Container & Section */
#homepage-container {
    background-color: blue;
    /* height: 550px; */
    min-height: calc(82vh - 40px);
}

.homepage-section {
    max-width: 700px;
    width: 100%;
    background-color: red;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
}


/* CSS for Footer Section */

footer {
    width: 100%;
    bottom: 0;
    position: relative;

}

.footer-container {
    width: 100%;
    background-color: orange;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    clear: both;
    border-top: 4px solid green;
}